name: Get latest versions

on:
  workflow_dispatch:
  schedule:
  - cron: "*/30 * * * *"

permissions: read-all

jobs:
  get-version:
    runs-on: ubuntu-latest
    #runs-on: self-hosted
    permissions:
      packages: write
      id-token: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.CR_PAT }}
        fetch-depth: 0
        clean: false

    - name: Run Test & Get New Versions
      run: |
        echo "Fetch new Versions"
        if test -f "./.templates/ci/version.sh"; then
           bash "./.templates/ci/version.sh"
        fi
      env:
        username: ${{ github.actor }}
        token: ${{ secrets.CR_PAT }}
